<body style="width:800px">
<div style="border:black solid 1px">links</div>
<div style="border:black solid 1px">search for<input type=text></div>


<div style="position:absolute;left:10px">
<div style="width:200px;float:left;clear=left;border:black solid 1px">Logged as Guest<br>Log out<br></div>
<div style="width:200px;float:left;clear=left;border:black solid 1px">Menu<br>Cars<br>Make</div>
</div>

<div style="margin-left:200px;border:black solid 1px;">
<div style="width:100%;background-color:lightblue;">Buttons - <input type=button value="Add new"> <input type=button value="Delete selected"> <input type=button value="Print Selected">
</div>
<div style="display:block;border:red solid 1px">
<table style="display:block;position:relative" border=1>
<tr><td>ID</td><td>Make</td><td>Model</td></tr>
<tr><td>1</td><td>BMW</td><td>525</td></tr>
<tr><td>2</td><td>Audi</td><td>A6</td></tr>
<tr><td>3</td><td>Lexus</td><td>GS460</td></tr>
<tr><td>4</td><td>Mercedes-Benz</td><td>E420</td></tr>
</table></div>
</div>
</div>
<br><br><br><br><br><br><br><br>
<span style="border:solid black 1px"><input type=button style="display:none"></span>
</body>