/* CCA ID CSS */

body	{
	background-color: #999999;
	color: #000000;
	font-family: 'Lucida Grande', Geneva, Arial, Verdana, helvetica, sans-serif;
	font-size: small;
	padding: 0;
	margin: 0;
	}	

#header	{
	background-color: #413839;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
	height: 85px;
	text-align: left;
	}

.nav	{
	width: 95%;
	height: 83px;
	}

#logo	{
	text-align: left;
	font-size: 1.4em;
	vertical-align: middle;
	color: #CC6600
	}
	
#links	{
	color: #CC6600;
	font-size: 1em;
	text-align: right;
	vertical-align: middle;
	}
	
#content	{
	width: auto;
	margin: 1em 2em 1em 2em;
	}
	
table	{
	border: thin;
	border-color: #000000;
	}
	
.row0 {
    background-color: #CFCFCF;
}

.row1 {
    background-color: #CC6600;
}

h1	{
	font-size: 30;
	font-weight: bold;
	color: #CC6600;
	}
	
h4 {
	font-size: 13;
	color: #CC6600;
	}

#results	{
	padding: .4em;
	font-size: .8em;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 2px;
	}
	
#users		{
	background-color: #CC6600;
	padding: .5em;
	font-size: .95em;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 2px;
	}
	
a:link {
	color: #FF9900;
	text-decoration: underline;
	}
a:active {
	color: #FF9900;
	text-decoration: underline;
	}
a:visited {
	color: #FF9900;
	text-decoration: underline;
	}
a:hover {
	color: #000000;
	text-decoration: none;
	}
	
#results a:link {
	color: #000000;
	text-decoration: underline;
	}
#results a:active {
	color: #000000;
	text-decoration: underline;
	}
#results a:visited {
	color: #000000;
	text-decoration: underline;
	}
#results a:hover {
	color: #FF9900;
	text-decoration: none;
	}
	
#logo a:link {
	color: #CC6600;
	text-decoration: none;
	}
#logo a:active {
	color: #CC6600;
	text-decoration: none;
	}
#logo a:visited {
	color: #CC6600;
	text-decoration: none;
	}
#logo a:hover {
	color: #CC6600;
	text-decoration: none;
	}
