<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="campus">
		{$campus_editcontrol}
		</control>
	<control 
	field="bldg">
		{$bldg_editcontrol}
		</control>
	<control 
	field="floor">
		{$floor_editcontrol}
		</control>
	<control 
	field="room">
		{$room_editcontrol}
		</control>
	<control 
	field="labselect">
		{$labselect_editcontrol}
		</control>
	<control 
	field="mach_type">
		{$mach_type_editcontrol}
		</control>
	<control 
	field="platform">
		{$platform_editcontrol}
		</control>
	<control 
	field="model">
		{$model_editcontrol}
		</control>
	<control 
	field="other_model">
		{$other_model_editcontrol}
		</control>
	<control 
	field="asset_tag">
		{$asset_tag_editcontrol}
		</control>
	<control 
	field="serial">
		{$serial_editcontrol}
		</control>
	<control 
	field="service_tag">
		{$service_tag_editcontrol}
		</control>
	<control 
	field="proc_speed">
		{$proc_speed_editcontrol}
		</control>
	<control 
	field="proc_type">
		{$proc_type_editcontrol}
		</control>
	<control 
	field="ram">
		{$ram_editcontrol}
		</control>
	<control 
	field="disk_size">
		{$disk_size_editcontrol}
		</control>
	<control 
	field="optical_drive">
		{$optical_drive_editcontrol}
		</control>
	<control 
	field="display_model">
		{$display_model_editcontrol}
		</control>
	<control 
	field="display_size">
		{$display_size_editcontrol}
		</control>
	<control 
	field="display_asset">
		{$display_asset_editcontrol}
		</control>
	<control 
	field="display_serial">
		{$display_serial_editcontrol}
		</control>
	<control 
	field="notes">
		{$notes_editcontrol}
		</control>
	<control 
	field="last_updated">
	    <nobr>
	{$last_updated_editcontrol}
	    <font color="red">*</font>
	</nobr>
	</control>
	<control 
	field="uname">
		{$uname_editcontrol}
		</control>
	<control 
	field="lname">
		{$lname_editcontrol}
		</control>
	<control 
	field="dept">
		{$dept_editcontrol}
		</control>
	<control 
	field="mach_name">
		{$mach_name_editcontrol}
		</control>
	<control 
	field="ip_addr">
		{$ip_addr_editcontrol}
		</control>
	<control 
	field="mac_addr">
		{$mac_addr_editcontrol}
		</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
